In [1]:
# Import required libraries and read test and train data set
import pandas as pd
import numpy as np

In [2]:
dataset_original = pd.read_csv("athlete_events.csv")
dataset_original.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
dataset_original.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [4]:
# identify if there is any missing value
#Will return the feature with True or False,True means have missing value else False
# any(): Return whether any element is True, potentially over an axis.
dataset_original.isnull().any()

ID        False
Name      False
Sex       False
Age        True
Height     True
Weight     True
Team      False
NOC       False
Games     False
Year      False
Season    False
City      False
Sport     False
Event     False
Medal      True
dtype: bool

In [5]:
print(len(dataset_original)) # number of rows in csv
print(dataset_original.shape) # size of csv

271116
(271116, 15)

## Clean up the dataset

In [6]:
# Create a copy of the Data
dataset = dataset_original.copy()

# Fill missing values in data
missing_value_cat = ["Age", "Height", "Weight", "Medal"]
for i in range(3): # except Medal
    dataset[missing_value_cat[i]].fillna(value = "NoType", inplace = True)

In [7]:
# Print the Variable Information to check
dataset.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NoType,NoType,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NoType,NoType,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
# group the period of time together and order it
# 先分组，后排序，是通常一般人想到的思维逻辑。而对于Pandas而言，分组后的排序，可以采用apply函数来完成，且传入一个匿员函数，此时里面的x，应该对应分组后的一个dataframe
dataset1 = dataset.groupby(['Year',"NOC"]).apply(lambda x: x.sort_values(['Games','ID'], ascending=[True, True])) # according to Year first then ID
dataset1.head(600)

                     ID                                               Name  \
Year NOC
1896 AUS 70079    35698                         Edwin Harold "Teddy" Flack
         70080    35698                         Edwin Harold "Teddy" Flack
         70081    35698                         Edwin Harold "Teddy" Flack
         70082    35698                         Edwin Harold "Teddy" Flack
         70083    35698                         Edwin Harold "Teddy" Flack
     AUT 95166    48195                                    Otto Herschmann
         170080   85477                             Paul Neumann (-Newman)
         170081   85477                             Paul Neumann (-Newman)
         213101  107006                                 Felix Adolf Schmal
         213102  107006                                 Felix Adolf Schmal
         213103  107006                                 Felix Adolf Schmal
         213104  107006                                 Felix Adolf Schmal
         213105  107006                                 Felix Adolf Schmal
     DEN 107715   54456                             Alexander Viggo Jensen
         107716   54456                             Alexander Viggo Jensen
         107717   54456                             Alexander Viggo Jensen
         107718   54456                             Alexander Viggo Jensen
         107719   54456                             Alexander Viggo Jensen
         107720   54456                             Alexander Viggo Jensen
         107721   54456                             Alexander Viggo Jensen
         171105   85988                               Holger Louis Nielsen
         171106   85988                               Holger Louis Nielsen
         171107   85988                               Holger Louis Nielsen
         171108   85988                               Holger Louis Nielsen
         171109   85988                               Holger Louis Nielsen
         171110   85988                               Holger Louis Nielsen
         213253  107090                                Eugen Stahl Schmidt
         213254  107090                                Eugen Stahl Schmidt
     FRA 33940    17492                                 Eugne Henri Callot
         51139    26280                         Georges Daviel de la Nzire
...                 ...                                                ...
1900 DEN 261707  130945                    Charles Gustav Wilhelm Winckler
     ESP 34566    17818                                     Juan Camps Mas
         50275    25866                             Jos de Amzola y Aspiza
         50794    26126  Mauricio lvarez de las Asturias Bohorques y Po...
         50795    26126  Mauricio lvarez de las Asturias Bohorques y Po...
         50796    26126  Mauricio lvarez de las Asturias Bohorques y Po...
         50850    26154            Luis Antonio Santiago De Cuadra y Raoul
         71244    36288                            Jos Frmica-Corsi Cuevas
         149433   74954                            Ricardo Margarit Calvet
         195125   97940           Orestes Demstenes Homero Quintana y Vigo
         250961  125700                                   Antonio Vela Viv
         250962  125700                                   Antonio Vela Viv
         252988  126675                       Francisco Villota y Baquiola
     FRA 1202       676                                     Gaston Achille
         1340       757                                               Adam
         1341       758                                               Adam
         1822      1006                                               Ador
         2761      1538                                     Vladimir Atoff
         4015      2316                                          A. Albert
         4016      2317                                     Auguste Albert
         4017      2317                                     Auguste Albert
         4018      2317                                     Auguste Albert
         4467      2550                             Antoine Luc Alessandri
         4766      2723                 Gaston Jules Louis Antoine Alibert
         4953      2823                                              Allgr
         4962      2829                      Richard Louis Pierre Allemane
         5952      3346                      Charles Henri Adrien Amberger
         6522      3654                                    Xavier Anchetti
         6523      3654                                    Xavier Anchetti
         6524      3654                                    Xavier Anchetti

                Sex     Age  Height  Weight  \
Year NOC
1896 AUS 70079    M      22  NoType  NoType
         70080    M      22  NoType  NoType
         70081    M      22  NoType  NoType
         70082    M      22  NoType  NoType
         70083    M      22  NoType  NoType
     AUT 95166    M      19  NoType  NoType
         170080   M      20  NoType  NoType
         170081   M      20  NoType  NoType
         213101   M      23  NoType  NoType
         213102   M      23  NoType  NoType
         213103   M      23  NoType  NoType
         213104   M      23  NoType  NoType
         213105   M      23  NoType  NoType
     DEN 107715   M      21  NoType  NoType
         107716   M      21  NoType  NoType
         107717   M      21  NoType  NoType
         107718   M      21  NoType  NoType
         107719   M      21  NoType  NoType
         107720   M      21  NoType  NoType
         107721   M      21  NoType  NoType
         171105   M      29  NoType  NoType
         171106   M      29  NoType  NoType
         171107   M      29  NoType  NoType
         171108   M      29  NoType  NoType
         171109   M      29  NoType  NoType
         171110   M      29  NoType  NoType
         213253   M      34  NoType  NoType
         213254   M      34  NoType  NoType
     FRA 33940    M      20  NoType  NoType
         51139    M      17  NoType  NoType
...              ..     ...     ...     ...
1900 DEN 261707   M      33  NoType  NoType
     ESP 34566    M  NoType  NoType  NoType
         50275    M      26  NoType  NoType
         50794    M      35  NoType  NoType
         50795    M      35  NoType  NoType
         50796    M      35  NoType  NoType
         50850    M      52  NoType  NoType
         71244    M      19  NoType  NoType
         149433   M      15  NoType  NoType
         195125   M  NoType  NoType  NoType
         250961   M      28  NoType  NoType
         250962   M      28  NoType  NoType
         252988   M      26  NoType  NoType
     FRA 1202     M  NoType  NoType  NoType
         1340     M  NoType  NoType  NoType
         1341     M  NoType  NoType  NoType
         1822     M  NoType  NoType  NoType
         2761     M      20  NoType  NoType
         4015     M  NoType  NoType  NoType
         4016     M  NoType  NoType  NoType
         4017     M  NoType  NoType  NoType
         4018     M  NoType  NoType  NoType
         4467     M      57  NoType  NoType
         4766     M      22  NoType  NoType
         4953     M  NoType  NoType  NoType
         4962     M      18  NoType  NoType
         5952     M      18  NoType  NoType
         6522     M      34     168  NoType
         6523     M      34     168  NoType
         6524     M      34     168  NoType

                                                           Team  NOC  \
Year NOC
1896 AUS 70079                                        Australia  AUS
         70080                          Australia/Great Britain  AUS
         70081                                        Australia  AUS
         70082                                        Australia  AUS
         70083                                        Australia  AUS
     AUT 95166                                          Austria  AUT
         170080                                         Austria  AUT
         170081                                         Austria  AUT
         213101                                         Austria  AUT
         213102                                         Austria  AUT
         213103                                         Austria  AUT
         213104                                         Austria  AUT
         213105                                         Austria  AUT
     DEN 107715                                         Denmark  DEN
         107716                                         Denmark  DEN
         107717                                         Denmark  DEN
         107718                                         Denmark  DEN
         107719                                         Denmark  DEN
         107720                                         Denmark  DEN
         107721                                         Denmark  DEN
         171105                                         Denmark  DEN
         171106                                         Denmark  DEN
         171107                                         Denmark  DEN
         171108                                         Denmark  DEN
         171109                                         Denmark  DEN
         171110                                         Denmark  DEN
         213253                                         Denmark  DEN
         213254                                         Denmark  DEN
     FRA 33940                                           France  FRA
         51139                                           France  FRA
...                                                         ...  ...
1900 DEN 261707                                         Denmark  DEN
     ESP 34566                               Ral-Club Barcelona  ESP
         50275                                            Spain  ESP
         50794                                            Spain  ESP
         50795                                            Spain  ESP
         50796                                            Spain  ESP
         50850                                          Spain-1  ESP
         71244                               Ral-Club Barcelona  ESP
         149433                              Ral-Club Barcelona  ESP
         195125                              Ral-Club Barcelona  ESP
         250961                                           Spain  ESP
         250962                              Ral-Club Barcelona  ESP
         252988                                           Spain  ESP
     FRA 1202                                            France  FRA
         1340                                            France  FRA
         1341                                            France  FRA
         1822                                            France  FRA
         2761    Union des Socits Franais de Sports Athletiques  FRA
         4015    Union des Socits Franais de Sports Athletiques  FRA
         4016                                         Martha-27  FRA
         4017                                          Martha-1  FRA
         4018                                          Martha-1  FRA
         4467                                            France  FRA
         4766                                            France  FRA
         4953                                            France  FRA
         4962                                             USFSA  FRA
         5952                                            France  FRA
         6522                                            France  FRA
         6523                                            France  FRA
         6524                                            France  FRA

                       Games  Year  Season    City          Sport  \
Year NOC
1896 AUS 70079   1896 Summer  1896  Summer  Athina         Tennis
         70080   1896 Summer  1896  Summer  Athina         Tennis
         70081   1896 Summer  1896  Summer  Athina      Athletics
         70082   1896 Summer  1896  Summer  Athina      Athletics
         70083   1896 Summer  1896  Summer  Athina      Athletics
     AUT 95166   1896 Summer  1896  Summer  Athina       Swimming
         170080  1896 Summer  1896  Summer  Athina       Swimming
         170081  1896 Summer  1896  Summer  Athina       Swimming
         213101  1896 Summer  1896  Summer  Athina        Cycling
         213102  1896 Summer  1896  Summer  Athina        Fencing
         213103  1896 Summer  1896  Summer  Athina        Cycling
         213104  1896 Summer  1896  Summer  Athina        Cycling
         213105  1896 Summer  1896  Summer  Athina        Cycling
     DEN 107715  1896 Summer  1896  Summer  Athina  Weightlifting
         107716  1896 Summer  1896  Summer  Athina  Weightlifting
         107717  1896 Summer  1896  Summer  Athina     Gymnastics
         107718  1896 Summer  1896  Summer  Athina       Shooting
         107719  1896 Summer  1896  Summer  Athina       Shooting
         107720  1896 Summer  1896  Summer  Athina      Athletics
         107721  1896 Summer  1896  Summer  Athina      Athletics
         171105  1896 Summer  1896  Summer  Athina       Shooting
         171106  1896 Summer  1896  Summer  Athina        Fencing
         171107  1896 Summer  1896  Summer  Athina       Shooting
         171108  1896 Summer  1896  Summer  Athina       Shooting
         171109  1896 Summer  1896  Summer  Athina       Shooting
         171110  1896 Summer  1896  Summer  Athina      Athletics
         213253  1896 Summer  1896  Summer  Athina      Athletics
         213254  1896 Summer  1896  Summer  Athina       Shooting
     FRA 33940   1896 Summer  1896  Summer  Athina        Fencing
         51139   1896 Summer  1896  Summer  Athina      Athletics
...                      ...   ...     ...     ...            ...
1900 DEN 261707  1900 Summer  1900  Summer   Paris      Athletics
     ESP 34566   1900 Summer  1900  Summer   Paris         Rowing
         50275   1900 Summer  1900  Summer   Paris  Basque Pelota
         50794   1900 Summer  1900  Summer   Paris        Fencing
         50795   1900 Summer  1900  Summer   Paris        Fencing
         50796   1900 Summer  1900  Summer   Paris        Fencing
         50850   1900 Summer  1900  Summer   Paris  Equestrianism
         71244   1900 Summer  1900  Summer   Paris         Rowing
         149433  1900 Summer  1900  Summer   Paris         Rowing
         195125  1900 Summer  1900  Summer   Paris         Rowing
         250961  1900 Summer  1900  Summer   Paris         Rowing
         250962  1900 Summer  1900  Summer   Paris         Rowing
         252988  1900 Summer  1900  Summer   Paris  Basque Pelota
     FRA 1202    1900 Summer  1900  Summer   Paris        Fencing
         1340    1900 Summer  1900  Summer   Paris        Fencing
         1341    1900 Summer  1900  Summer   Paris       Swimming
         1822    1900 Summer  1900  Summer   Paris       Shooting
         2761    1900 Summer  1900  Summer   Paris          Rugby
         4015    1900 Summer  1900  Summer   Paris          Rugby
         4016    1900 Summer  1900  Summer   Paris        Sailing
         4017    1900 Summer  1900  Summer   Paris        Sailing
         4018    1900 Summer  1900  Summer   Paris        Sailing
         4467    1900 Summer  1900  Summer   Paris        Fencing
         4766    1900 Summer  1900  Summer   Paris        Fencing
         4953    1900 Summer  1900  Summer   Paris     Gymnastics
         4962    1900 Summer  1900  Summer   Paris       Football
         5952    1900 Summer  1900  Summer   Paris        Cycling
         6522    1900 Summer  1900  Summer   Paris        Fencing
         6523    1900 Summer  1900  Summer   Paris        Fencing
         6524    1900 Summer  1900  Summer   Paris        Fencing

                                                             Event   Medal
Year NOC
1896 AUS 70079                                Tennis Men's Singles     NaN
         70080                                Tennis Men's Doubles  Bronze
         70081                          Athletics Men's 800 metres    Gold
         70082                        Athletics Men's 1,500 metres    Gold
         70083                            Athletics Men's Marathon     NaN
     AUT 95166                 Swimming Men's 100 metres Freestyle  Silver
         170080                Swimming Men's 500 metres Freestyle    Gold
         170081              Swimming Men's 1,200 metres Freestyle     NaN
         213101                Cycling Men's 333 metres Time Trial  Bronze
         213102                    Fencing Men's Sabre, Individual     NaN
         213103                        Cycling Men's 10,000 metres  Bronze
         213104                       Cycling Men's 100 kilometres     NaN
         213105                        Cycling Men's 12-Hours Race    Gold
     DEN 107715            Weightlifting Men's Unlimited, One Hand  Silver
         107716           Weightlifting Men's Unlimited, Two Hands    Gold
         107717                     Gymnastics Men's Rope Climbing     NaN
         107718  Shooting Men's Free Rifle, Three Positions, 30...  Bronze
         107719          Shooting Men's Military Rifle, 200 metres     NaN
         107720                           Athletics Men's Shot Put     NaN
         107721                       Athletics Men's Discus Throw     NaN
         171105              Shooting Men's Free Pistol, 30 metres  Silver
         171106                    Fencing Men's Sabre, Individual  Bronze
         171107          Shooting Men's Military Pistol, 25 metres     NaN
         171108    Shooting Men's Muzzle-Loading Pistol, 25 metres  Bronze
         171109          Shooting Men's Military Rifle, 200 metres     NaN
         171110                       Athletics Men's Discus Throw     NaN
         213253                         Athletics Men's 100 metres     NaN
         213254          Shooting Men's Military Rifle, 200 metres     NaN
     FRA 33940                      Fencing Men's Foil, Individual  Silver
         51139                          Athletics Men's 800 metres     NaN
...                                                            ...     ...
1900 DEN 261707                       Athletics Men's Discus Throw     NaN
     ESP 34566                            Rowing Men's Coxed Fours     NaN
         50275        Basque Pelota Men's Two-Man Teams With Cesta    Gold
         50794                      Fencing Men's Foil, Individual     NaN
         50795                      Fencing Men's epee, Individual     NaN
         50796                     Fencing Men's Sabre, Individual     NaN
         50850        Equestrianism Mixed Four-In-Hand Competition     NaN
         71244                            Rowing Men's Coxed Fours     NaN
         149433                           Rowing Men's Coxed Fours     NaN
         195125                           Rowing Men's Coxed Fours     NaN
         250961                         Rowing Men's Single Sculls     NaN
         250962                           Rowing Men's Coxed Fours     NaN
         252988       Basque Pelota Men's Two-Man Teams With Cesta    Gold
     FRA 1202                       Fencing Men's epee, Individual     NaN
         1340                       Fencing Men's epee, Individual     NaN
         1341                  Swimming Men's 200 metres Freestyle     NaN
         1822                                  Shooting Men's Trap     NaN
         2761                                    Rugby Men's Rugby    Gold
         4015                                    Rugby Men's Rugby    Gold
         4016                                   Sailing Mixed Open     NaN
         4017                                Sailing Mixed 1-2 Ton  Silver
         4018                                Sailing Mixed 1-2 Ton  Bronze
         4467             Fencing Men's Sabre, Masters, Individual     NaN

In [9]:
dataset1.rename(columns = {"Year":"Years","NOC":"NOCs"}, inplace = True)
dataset1 = dataset1.sort_values(["NOCs","Year"])
dataset1

                     ID                                 Name Sex     Age  \
Year NOC
1936 AFG 1950      1076                Jammal-ud-Din Affendi   M      28
         10214     5582                        Mohammad Asif   M      17
         10687     5841                       Sayed Ali Atta   M      22
         11502     6282                  Sayed Mohammad Ayub   M      27
         11749     6413                     Sayed Ali Babaci   M      21
         67193    34349                        Hussain Fazal   M      29
         116876   59161               Mohammad Mohammad Khan   M      25
         116877   59161               Mohammad Mohammad Khan   M      25
         195861   98340                          Abdul Rahim   M      23
         217225  109113                    Abouwi Ahmad Shah   M  NoType
         217241  109123                      Mian Faruq Shah   M      29
         217252  109130                  Zahir Shah Al-Zadah   M      25
         217793  109397                Saadat Malook Shazada   M      19
         232000  116394                      Mohammad Sultan   M      17
         245774  123072                         Shuja ud-Din   M      22
         255544  127934                   Sardar Abdul Wahib   M      35
1948 AFG 1992      1101                 Mohammad Anwar Afzal   M  NoType
         10357     5678                  Abdul Ghafoor Assar   M  NoType
         10358     5679                    Abdul Ghani Assar   M  NoType
         10691     5844                    Mohammad Y. Attai   M  NoType
         11603     6323                  Abdul Shacour Azimi   M  NoType
         14178     7648                Yar Mohammad Barakzai   M  NoType
         78678    39947             Mohammad Ibrahim Gharzai   M  NoType
         105404   53317                           G. M. Jagi   M  NoType
         116958   59211                    Abdul Ahad Kharot   M  NoType
         116959   59212                Mohammad Anwar Kharot   M  NoType
         117191   59344                 Mohammad A. Khogaini   M  NoType
         148287   74404               Bakhteyar Gulam Mangal   M  NoType
         173919   87370                Abdul Kadir Nuristani   M  NoType
         173921   87371                Ahmad Jahan Nuristani   M  NoType
...                 ...                                  ...  ..     ...
2016 ZIM 40186    20661                      Eunice Chibanda   F      23
         40446    20821                       Mavis Chirandu   F      21
         45651    23549      Kirsty Leigh Coventry (-Seward)   F      32
         45652    23549      Kirsty Leigh Coventry (-Seward)   F      32
         60804    31142                      Chido Dzingirai   F      24
         63412    32503                     Msipa Emmaculate   F      24
         86583    43912                    Sean Michael Gunn   M      22
         107249   54198                           Erina Jeke   F      25
         111572   56465                       Wirimai Juwawo   M      35
         112000   56724                        Daisy Kaitano   F      22
         113140   57320                   Rejoice Kapfumvuti   F      24
         127603   64320                       Camilla Kruger   F      29
         146446   73499                      Lindiwe Magwede   F      24
         146983   73763                       Nobuhle Majika   F      25
         147235   73900                       Rutendo Makore   F      23
         147238   73903                        Sheila Makoto   F      26
         148129   74325                       Talent Mandaza   F      30
         166760   83768                      Lynett Mutokuto   F      27
         166805   83794                  Fedistas Muzongondi   F      30
         166816   83805                     Gabriel Mvumvure   M      28
         168958   84923                       Pardon Ndhlovu   M      28
         169815   85356                        Rudo Neshamba   F      24
         170791   85834  Michael Sean James "Mike" Nicholson   M      42
         174068   87452                 Rutendo Joan Nyahora   F      27
         174112   87477                    Cuthbert Nyasango   M      33
         174113   87478                      Marjory Nyaumwe   F      29
         184484   92718                Andrew Graham Peebles   M      27
         232687  116713                 Gavin Ben Sutherland   M      37
         239603  120082          Micheen Barbara Thornycroft   F      29
         244467  122405                       Tatenda Tsumba   M      24

                 Height  Weight         Team NOCs        Games  Years  Season  \
Year NOC
1936 AFG 1950    NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         10214   NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         10687   NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         11502   NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         11749   NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         67193   NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         116876  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         116877  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         195861  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         217225  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         217241  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         217252  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         217793  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         232000  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         245774  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
         255544  NoType  NoType  Afghanistan  AFG  1936 Summer   1936  Summer
1948 AFG 1992    NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         10357   NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         10358   NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         10691   NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         11603   NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         14178   NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         78678   NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         105404  NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         116958  NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         116959  NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         117191  NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         148287  NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         173919  NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
         173921  NoType  NoType  Afghanistan  AFG  1948 Summer   1948  Summer
...                 ...     ...          ...  ...          ...    ...     ...
2016 ZIM 40186      163      61     Zimbabwe  ZIM  2016 Summer   2016  Summer
         40446      157      53     Zimbabwe  ZIM  2016 Summer   2016  Summer
         45651      176      64     Zimbabwe  ZIM  2016 Summer   2016  Summer
         45652      176      64     Zimbabwe  ZIM  2016 Summer   2016  Summer
         60804      172      69     Zimbabwe  ZIM  2016 Summer   2016  Summer
         63412      168      59     Zimbabwe  ZIM  2016 Summer   2016  Summer
         86583      181      84     Zimbabwe  ZIM  2016 Summer   2016  Summer
         107249     163      53     Zimbabwe  ZIM  2016 Summer   2016  Summer
         111572     172      63     Zimbabwe  ZIM  2016 Summer   2016  Summer
         112000     171      61     Zimbabwe  ZIM  2016 Summer   2016  Summer
         113140     160      53     Zimbabwe  ZIM  2016 Summer   2016  Summer
         127603     161      51     Zimbabwe  ZIM  2016 Summer   2016  Summer
         146446     176      59     Zimbabwe  ZIM  2016 Summer   2016  Summer
         146983     159      53     Zimbabwe  ZIM  2016 Summer   2016  Summer
         147235     165      68     Zimbabwe  ZIM  2016 Summer   2016  Summer
         147238     158      59     Zimbabwe  ZIM  2016 Summer   2016  Summer
         148129     158      60     Zimbabwe  ZIM  2016 Summer   2016  Summer
         166760     161      56     Zimbabwe  ZIM  2016 Summer   2016  Summer
         166805     167      53     Zimbabwe  ZIM  2016 Summer   2016  Summer
         166816     170      70     Zimbabwe  ZIM  2016 Summer   2016  Summer
         168958     158      54     Zimbabwe  ZIM  2016 Summer   2016  Summer
         169815     164      53     Zimbabwe  ZIM  2016 Summer   2016  Summer
         170791     182      80     Zimbabwe  ZIM  2016 Summer   2016  Summer
         174068     155      45     Zimbabwe  ZIM  2016 Summer   2016  Summer
         174112     163      56     Zimbabwe  ZIM  2016 Summer   2016  Summer
         174113     158      57     Zimbabwe  ZIM  2016 Summer   2016  Summer
         184484     191      87     Zimbabwe  ZIM  2016 Summer   2016  Summer
         232687     186      78     Zimbabwe  ZIM  2016 Summer   2016  Summer
         239603     175      72     Zimbabwe  ZIM  2016 Summer   2016  Summer
         244467     175      73     Zimbabwe  ZIM  2016 Summer   2016  Summer

                           City          Sport  \
Year NOC
1936 AFG 1950            Berlin         Hockey
         10214           Berlin         Hockey
         10687           Berlin         Hockey
         11502           Berlin         Hockey
         11749           Berlin         Hockey
         67193           Berlin         Hockey
         116876          Berlin      Athletics
         116877          Berlin      Athletics
         195861          Berlin      Athletics
         217225          Berlin         Hockey
         217241          Berlin         Hockey
         217252          Berlin         Hockey
         217793          Berlin         Hockey
         232000          Berlin         Hockey
         245774          Berlin         Hockey
         255544          Berlin         Hockey
1948 AFG 1992            London       Football
         10357           London       Football
         10358           London       Football
         10691           London         Hockey
         11603           London       Football
         14178           London       Football
         78678           London       Football
         105404          London         Hockey
         116958          London       Football
         116959          London       Football
         117191          London         Hockey
         148287          London         Hockey
         173919          London         Hockey
         173921          London         Hockey
...                         ...            ...
2016 ZIM 40186   Rio de Janeiro       Football
         40446   Rio de Janeiro       Football
         45651   Rio de Janeiro       Swimming
         45652   Rio de Janeiro       Swimming
         60804   Rio de Janeiro       Football
         63412   Rio de Janeiro       Football
         86583   Rio de Janeiro       Swimming
         107249  Rio de Janeiro       Football
         111572  Rio de Janeiro      Athletics
         112000  Rio de Janeiro       Football
         113140  Rio de Janeiro       Football
         127603  Rio de Janeiro  Equestrianism
         146446  Rio de Janeiro       Football
         146983  Rio de Janeiro       Football
         147235  Rio de Janeiro       Football
         147238  Rio de Janeiro       Football
         148129  Rio de Janeiro       Football
         166760  Rio de Janeiro       Football
         166805  Rio de Janeiro       Football
         166816  Rio de Janeiro      Athletics
         168958  Rio de Janeiro      Athletics
         169815  Rio de Janeiro       Football
         170791  Rio de Janeiro       Shooting
         174068  Rio de Janeiro      Athletics
         174112  Rio de Janeiro      Athletics
         174113  Rio de Janeiro       Football
         184484  Rio de Janeiro         Rowing
         232687  Rio de Janeiro        Archery
         239603  Rio de Janeiro         Rowing
         244467  Rio de Janeiro      Athletics

                                                           Event Medal
Year NOC
1936 AFG 1950                                Hockey Men's Hockey   NaN
         10214                               Hockey Men's Hockey   NaN
         10687                               Hockey Men's Hockey   NaN
         11502                               Hockey Men's Hockey   NaN
         11749                               Hockey Men's Hockey   NaN
         67193                               Hockey Men's Hockey   NaN
         116876                       Athletics Men's 100 metres   NaN
         116877                        Athletics Men's Long Jump   NaN
         195861                         Athletics Men's Shot Put   NaN
         217225                              Hockey Men's Hockey   NaN
         217241                              Hockey Men's Hockey   NaN
         217252                              Hockey Men's Hockey   NaN
         217793                              Hockey Men's Hockey   NaN
         232000                              Hockey Men's Hockey   NaN
         245774                              Hockey Men's Hockey   NaN
         255544                              Hockey Men's Hockey   NaN
1948 AFG 1992                            Football Men's Football   NaN
         10357                           Football Men's Football   NaN
         10358                           Football Men's Football   NaN
         10691                               Hockey Men's Hockey   NaN
         11603                           Football Men's Football   NaN
         14178                           Football Men's Football   NaN
         78678                           Football Men's Football   NaN
         105404                              Hockey Men's Hockey   NaN
         116958                          Football Men's Football   NaN
         116959                          Football Men's Football   NaN
         117191                              Hockey Men's Hockey   NaN
         148287                              Hockey Men's Hockey   NaN
         173919                              Hockey Men's Hockey   NaN
         173921                              Hockey Men's Hockey   NaN
...                                                          ...   ...
2016 ZIM 40186                         Football Women's Football   NaN
         40446                         Football Women's Football   NaN
         45651            Swimming Women's 100 metres Backstroke   NaN
         45652            Swimming Women's 200 metres Backstroke   NaN
         60804                         Football Women's Football   NaN
         63412                         Football Women's Football   NaN
         86583               Swimming Men's 100 metres Freestyle   NaN
         107249                        Football Women's Football   NaN
         111572                         Athletics Men's Marathon   NaN
         112000                        Football Women's Football   NaN
         113140                        Football Women's Football   NaN
         127603  Equestrianism Mixed Three-Day Event, Individual   NaN
         146446                        Football Women's Football   NaN
         146983                        Football Women's Football   NaN
         147235                        Football Women's Football   NaN
         147238                        Football Women's Football   NaN
         148129                        Football Women's Football   NaN
         166760                        Football Women's Football   NaN
         166805                        Football Women's Football   NaN
         166816                       Athletics Men's 100 metres   NaN
         168958                         Athletics Men's Marathon   NaN
         169815                        Football Women's Football   NaN
         170791                       Shooting Men's Double Trap   NaN
         174068                       Athletics Women's Marathon   NaN
         174112                         Athletics Men's Marathon   NaN
         174113                        Football Women's Football   NaN
         184484                       Rowing Men's Single Sculls   NaN
         232687                         Archery Men's Individual   NaN
         239603                     Rowing Women's Single Sculls   NaN
         244467                       Athletics Men's 200 metres   NaN

[271116 rows x 15 columns]

In [10]:
# dataset1.to_csv("preview.csv")
NOC_neat = list(dataset1["NOCs"].unique())
NOC_neat.sort()
NOC = NOC_neat * 35
NOC = pd.DataFrame(NOC)
NOC_neat

['AFG',
 'AHO',
 'ALB',
 'ALG',
 'AND',
 'ANG',
 'ANT',
 'ANZ',
 'ARG',
 'ARM',
 'ARU',
 'ASA',
 'AUS',
 'AUT',
 'AZE',
 'BAH',
 'BAN',
 'BAR',
 'BDI',
 'BEL',
 'BEN',
 'BER',
 'BHU',
 'BIH',
 'BIZ',
 'BLR',
 'BOH',
 'BOL',
 'BOT',
 'BRA',
 'BRN',
 'BRU',
 'BUL',
 'BUR',
 'CAF',
 'CAM',
 'CAN',
 'CAY',
 'CGO',
 'CHA',
 'CHI',
 'CHN',
 'CIV',
 'CMR',
 'COD',
 'COK',
 'COL',
 'COM',
 'CPV',
 'CRC',
 'CRO',
 'CRT',
 'CUB',
 'CYP',
 'CZE',
 'DEN',
 'DJI',
 'DMA',
 'DOM',
 'ECU',
 'EGY',
 'ERI',
 'ESA',
 'ESP',
 'EST',
 'ETH',
 'EUN',
 'FIJ',
 'FIN',
 'FRA',
 'FRG',
 'FSM',
 'GAB',
 'GAM',
 'GBR',
 'GBS',
 'GDR',
 'GEO',
 'GEQ',
 'GER',
 'GHA',
 'GRE',
 'GRN',
 'GUA',
 'GUI',
 'GUM',
 'GUY',
 'HAI',
 'HKG',
 'HON',
 'HUN',
 'INA',
 'IND',
 'IOA',
 'IRI',
 'IRL',
 'IRQ',
 'ISL',
 'ISR',
 'ISV',
 'ITA',
 'IVB',
 'JAM',
 'JOR',
 'JPN',
 'KAZ',
 'KEN',
 'KGZ',
 'KIR',
 'KOR',
 'KOS',
 'KSA',
 'KUW',
 'LAO',
 'LAT',
 'LBA',
 'LBR',
 'LCA',
 'LES',
 'LIB',
 'LIE',
 'LTU',
 'LUX',
 'MAD',
 'MAL',
 'MAR',
 'MAS',
 'MAW',
 'MDA',
 'MDV',
 'MEX',
 'MGL',
 'MHL',
 'MKD',
 'MLI',
 'MLT',
 'MNE',
 'MON',
 'MOZ',
 'MRI',
 'MTN',
 'MYA',
 'NAM',
 'NBO',
 'NCA',
 'NED',
 'NEP',
 'NFL',
 'NGR',
 'NIG',
 'NOR',
 'NRU',
 'NZL',
 'OMA',
 'PAK',
 'PAN',
 'PAR',
 'PER',
 'PHI',
 'PLE',
 'PLW',
 'PNG',
 'POL',
 'POR',
 'PRK',
 'PUR',
 'QAT',
 'RHO',
 'ROT',
 'ROU',
 'RSA',
 'RUS',
 'RWA',
 'SAA',
 'SAM',
 'SCG',
 'SEN',
 'SEY',
 'SGP',
 'SKN',
 'SLE',
 'SLO',
 'SMR',
 'SOL',
 'SOM',
 'SRB',
 'SRI',
 'SSD',
 'STP',
 'SUD',
 'SUI',
 'SUR',
 'SVK',
 'SWE',
 'SWZ',
 'SYR',
 'TAN',
 'TCH',
 'TGA',
 'THA',
 'TJK',
 'TKM',
 'TLS',
 'TOG',
 'TPE',
 'TTO',
 'TUN',
 'TUR',
 'TUV',
 'UAE',
 'UAR',
 'UGA',
 'UKR',
 'UNK',
 'URS',
 'URU',
 'USA',
 'UZB',
 'VAN',
 'VEN',
 'VIE',
 'VIN',
 'VNM',
 'WIF',
 'YAR',
 'YEM',
 'YMD',
 'YUG',
 'ZAM',
 'ZIM']

In [11]:
# extract the years inside the dataset and sort it
# make every Year repeat 230 times (total 230 countries in dataset)
import itertools
Year_neat = list(dataset["Year"].unique())
Year_neat.sort()
Year = list(itertools.chain.from_iterable(itertools.repeat(x, 230) for x in Year_neat))
Year = pd.DataFrame(Year)

In [12]:
# find the City for a every country in a certain year
city_summer = []
city_winter = []
city = pd.DataFrame(dataset1[["NOCs", "Years", "Season", "City"]])
city1_summer = city[city["Season"] == "Summer"]
city1_winter = city[city["Season"] == "Winter"]

for year in Year_neat:
    for noc in NOC_neat:
        # for summer
        city2_summer = city1_summer[city1_summer["Years"] == year]
        if noc not in city2_summer["NOCs"].tolist(): #对于Series要加tolist()，因为in是用于python list的
            city_summer.extend(["NaN"])
        else:
            city3_summer = city2_summer[city2_summer["NOCs"] == noc]
            city4_summer = list(city3_summer["City"].unique()) 
            if len(city4_summer)!=1:
                print(year, noc)
                print(city4_summer)
                city_summer.extend([city4_summer]) # 存在问题，转成dataframe的时候就直接是['Melbourne', 'Stockholm']这么个奇怪的格式
            else:
                city_summer.extend(city4_summer)
            
        # for winter
        city2_winter = city1_winter[city1_winter["Years"] == year]
        if noc not in city2_winter["NOCs"].tolist(): #对于Series要加tolist()，因为in是用于python list的
            city_winter.extend(["NaN"])
        else:
            city3_winter = city2_winter[city2_winter["NOCs"] == noc]
            city4_winter = list(city3_winter["City"].unique())
            city_winter.extend(city4_winter)
            
city_summer = pd.DataFrame(city_summer)
city_winter = pd.DataFrame(city_winter)

1956 ARG
['Melbourne', 'Stockholm']
1956 AUS
['Melbourne', 'Stockholm']
1956 AUT
['Melbourne', 'Stockholm']
1956 BEL
['Melbourne', 'Stockholm']
1956 BRA
['Melbourne', 'Stockholm']
1956 BUL
['Melbourne', 'Stockholm']
1956 CAN
['Melbourne', 'Stockholm']
1956 DEN
['Stockholm', 'Melbourne']
1956 FIN
['Stockholm', 'Melbourne']
1956 FRA
['Melbourne', 'Stockholm']
1956 GBR
['Melbourne', 'Stockholm']
1956 GER
['Melbourne', 'Stockholm']
1956 HUN
['Melbourne', 'Stockholm']
1956 IRL
['Stockholm', 'Melbourne']
1956 ITA
['Melbourne', 'Stockholm']
1956 JPN
['Melbourne', 'Stockholm']
1956 NOR
['Melbourne', 'Stockholm']
1956 POR
['Stockholm', 'Melbourne']
1956 ROU
['Melbourne', 'Stockholm']
1956 SWE
['Melbourne', 'Stockholm']
1956 TUR
['Melbourne', 'Stockholm']
1956 URS
['Melbourne', 'Stockholm']
1956 USA
['Melbourne', 'Stockholm']
1956 VEN
['Melbourne', 'Stockholm']

In [13]:
# create a jointDF
jointDF = pd.concat([NOC, NOC, Year, city_summer, city_winter], axis = 1)
jointDF.columns = ["NOCs Index","NOCs", "Years", "City Summer", "City Winter"]
jointDF1 = jointDF.set_index("NOCs Index")
jointDF1

           NOCs  Years     City Summer City Winter
NOCs Index
AFG         AFG   1896             NaN         NaN
AHO         AHO   1896             NaN         NaN
ALB         ALB   1896             NaN         NaN
ALG         ALG   1896             NaN         NaN
AND         AND   1896             NaN         NaN
ANG         ANG   1896             NaN         NaN
ANT         ANT   1896             NaN         NaN
ANZ         ANZ   1896             NaN         NaN
ARG         ARG   1896             NaN         NaN
ARM         ARM   1896             NaN         NaN
ARU         ARU   1896             NaN         NaN
ASA         ASA   1896             NaN         NaN
AUS         AUS   1896          Athina         NaN
AUT         AUT   1896          Athina         NaN
AZE         AZE   1896             NaN         NaN
BAH         BAH   1896             NaN         NaN
BAN         BAN   1896             NaN         NaN
BAR         BAR   1896             NaN         NaN
BDI         BDI   1896             NaN         NaN
BEL         BEL   1896             NaN         NaN
BEN         BEN   1896             NaN         NaN
BER         BER   1896             NaN         NaN
BHU         BHU   1896             NaN         NaN
BIH         BIH   1896             NaN         NaN
BIZ         BIZ   1896             NaN         NaN
BLR         BLR   1896             NaN         NaN
BOH         BOH   1896             NaN         NaN
BOL         BOL   1896             NaN         NaN
BOT         BOT   1896             NaN         NaN
BRA         BRA   1896             NaN         NaN
...         ...    ...             ...         ...
TJK         TJK   2016  Rio de Janeiro         NaN
TKM         TKM   2016  Rio de Janeiro         NaN
TLS         TLS   2016  Rio de Janeiro         NaN
TOG         TOG   2016  Rio de Janeiro         NaN
TPE         TPE   2016  Rio de Janeiro         NaN
TTO         TTO   2016  Rio de Janeiro         NaN
TUN         TUN   2016  Rio de Janeiro         NaN
TUR         TUR   2016  Rio de Janeiro         NaN
TUV         TUV   2016  Rio de Janeiro         NaN
UAE         UAE   2016  Rio de Janeiro         NaN
UAR         UAR   2016             NaN         NaN
UGA         UGA   2016  Rio de Janeiro         NaN
UKR         UKR   2016  Rio de Janeiro         NaN
UNK         UNK   2016             NaN         NaN
URS         URS   2016             NaN         NaN
URU         URU   2016  Rio de Janeiro         NaN
USA         USA   2016  Rio de Janeiro         NaN
UZB         UZB   2016  Rio de Janeiro         NaN
VAN         VAN   2016  Rio de Janeiro         NaN
VEN         VEN   2016  Rio de Janeiro         NaN
VIE         VIE   2016  Rio de Janeiro         NaN
VIN         VIN   2016  Rio de Janeiro         NaN
VNM         VNM   2016             NaN         NaN
WIF         WIF   2016             NaN         NaN
YAR         YAR   2016             NaN         NaN
YEM         YEM   2016  Rio de Janeiro         NaN
YMD         YMD   2016             NaN         NaN
YUG         YUG   2016             NaN         NaN
ZAM         ZAM   2016  Rio de Janeiro         NaN
ZIM         ZIM   2016  Rio de Janeiro         NaN

[8050 rows x 4 columns]

### Generate Dataset

In [14]:
summer = dataset1[dataset1["Season"] == "Summer"]
winter = dataset1[dataset1["Season"] == "Winter"]
winter

                     ID                               Name Sex Age  Height  \
Year NOC
1988 AHO 35942    18463  Albertus "Bart" Carpentier Alting   M  33  NoType
         35943    18463  Albertus "Bart" Carpentier Alting   M  33  NoType
         58549    29956                      Bart Drechsel   M  35  NoType
1992 AHO 35944    18463  Albertus "Bart" Carpentier Alting   M  37  NoType
         53685    27536                    Dudley den Dulk   M  20     180
2006 ALB 241122  120779                         Erjon Tola   M  19     180
         241123  120779                         Erjon Tola   M  19     180
         241124  120779                         Erjon Tola   M  19     180
2010 ALB 241125  120779                         Erjon Tola   M  23     180
         241126  120779                         Erjon Tola   M  23     180
2014 ALB 155729   78179                       Suela Mhilli   F  20     163
         155730   78179                       Suela Mhilli   F  20     163
1992 ALG 26951    14012                   Nacera Boukamoum   F  20  NoType
         26952    14012                   Nacera Boukamoum   F  20  NoType
         86007    43613                       Kamel Guerri   M  23  NoType
         86008    43613                       Kamel Guerri   M  23  NoType
         86009    43614                      Mourad Guerri   M  17  NoType
         86010    43614                      Mourad Guerri   M  17  NoType
         86011    43614                      Mourad Guerri   M  17  NoType
         133110   67000                      Allaoua Latef   M  20  NoType
2006 ALG 19360    10254        Noureddine Maurice Bentoumi   M  33     176
         58072    29717            Christelle Laura Douibi   F  20     169
         58073    29717            Christelle Laura Douibi   F  20     169
2010 ALG 117067   59281                Mehdi-Selim Khelifi   M  17     170
1976 AND 9075      4994                  Xavier Areny Fite   M  18  NoType
         9076      4994                  Xavier Areny Fite   M  18  NoType
         9077      4994                  Xavier Areny Fite   M  18  NoType
         46041    23764           Antoine Crespo Travesset   M  20  NoType
         46042    23764           Antoine Crespo Travesset   M  20  NoType
         46043    23764           Antoine Crespo Travesset   M  20  NoType
...                 ...                                ...  ..  ..     ...
1992 YUG 142114   71290                    Tomislav Lopati   M  28     176
         142115   71290                    Tomislav Lopati   M  28     176
         142116   71290                    Tomislav Lopati   M  28     176
         158924   79789               Aleksandar Milenkovi   M  24     193
         158926   79789               Aleksandar Milenkovi   M  24     193
         158927   79789               Aleksandar Milenkovi   M  24     193
         158928   79789               Aleksandar Milenkovi   M  24     193
         181105   91022          Miroslav "Miro" Pandurevi   M  27  NoType
         181106   91022          Miroslav "Miro" Pandurevi   M  27  NoType
         186351   93695                      Zoran Peruina   M  21  NoType
         186352   93695                      Zoran Peruina   M  21  NoType
         186353   93695                      Zoran Peruina   M  21  NoType
         186354   93695                      Zoran Peruina   M  21  NoType
         222377  111719                 Momir "Momo" Skoki   M  23  NoType
         222378  111719                 Momir "Momo" Skoki   M  23  NoType
         222379  111719                 Momir "Momo" Skoki   M  23  NoType
         222380  111719                 Momir "Momo" Skoki   M  23  NoType
         224580  112818                    Ognjen Sokolovi   M  28     183
         224581  112818                    Ognjen Sokolovi   M  28     183
         226605  113887                          Igor piri   M  20  NoType
         229848  115394                     Zdravko Stojni   M  34  NoType
         237992  119344                         Edin Terzi   M  22  NoType
         237993  119344                         Edin Terzi   M  22  NoType
         252422  126403                      Marina Vidovi   F  18  NoType
         252423  126403                      Marina Vidovi   F  18  NoType
         252424  126403                      Marina Vidovi   F  18  NoType
         252425  126403                      Marina Vidovi   F  18  NoType
         255068  127686                Borislav Vujadinovi   M  32     183
2014 ZIM 229418  115190                   Luke Henri Steyn   M  20     182
         229419  115190                   Luke Henri Steyn   M  20     182

                 Weight                  Team NOCs        Games  Years  \
Year NOC
1988 AHO 35942   NoType  Netherlands Antilles  AHO  1988 Winter   1988
         35943   NoType  Netherlands Antilles  AHO  1988 Winter   1988
         58549   NoType  Netherlands Antilles  AHO  1988 Winter   1988
1992 AHO 35944   NoType  Netherlands Antilles  AHO  1992 Winter   1992
         53685       82  Netherlands Antilles  AHO  1992 Winter   1992
2006 ALB 241122      74               Albania  ALB  2006 Winter   2006
         241123      74               Albania  ALB  2006 Winter   2006
         241124      74               Albania  ALB  2006 Winter   2006
2010 ALB 241125      74               Albania  ALB  2010 Winter   2010
         241126      74               Albania  ALB  2010 Winter   2010
2014 ALB 155729      56               Albania  ALB  2014 Winter   2014
         155730      56               Albania  ALB  2014 Winter   2014
1992 ALG 26951   NoType               Algeria  ALG  1992 Winter   1992
         26952   NoType               Algeria  ALG  1992 Winter   1992
         86007   NoType               Algeria  ALG  1992 Winter   1992
         86008   NoType               Algeria  ALG  1992 Winter   1992
         86009   NoType               Algeria  ALG  1992 Winter   1992
         86010   NoType               Algeria  ALG  1992 Winter   1992
         86011   NoType               Algeria  ALG  1992 Winter   1992
         133110  NoType               Algeria  ALG  1992 Winter   1992
2006 ALG 19360       70               Algeria  ALG  2006 Winter   2006
         58072       59               Algeria  ALG  2006 Winter   2006
         58073       59               Algeria  ALG  2006 Winter   2006
2010 ALG 117067      65               Algeria  ALG  2010 Winter   2010
1976 AND 9075    NoType               Andorra  AND  1976 Winter   1976
         9076    NoType               Andorra  AND  1976 Winter   1976
         9077    NoType               Andorra  AND  1976 Winter   1976
         46041   NoType               Andorra  AND  1976 Winter   1976
         46042   NoType               Andorra  AND  1976 Winter   1976
         46043   NoType               Andorra  AND  1976 Winter   1976
...                 ...                   ...  ...          ...    ...
1992 YUG 142114      75            Yugoslavia  YUG  1992 Winter   1992
         142115      75            Yugoslavia  YUG  1992 Winter   1992
         142116      75            Yugoslavia  YUG  1992 Winter   1992
         158924      83            Yugoslavia  YUG  1992 Winter   1992
         158926      83            Yugoslavia  YUG  1992 Winter   1992
         158927      83            Yugoslavia  YUG  1992 Winter   1992
         158928      83            Yugoslavia  YUG  1992 Winter   1992
         181105  NoType          Yugoslavia-1  YUG  1992 Winter   1992
         181106  NoType            Yugoslavia  YUG  1992 Winter   1992
         186351  NoType            Yugoslavia  YUG  1992 Winter   1992
         186352  NoType            Yugoslavia  YUG  1992 Winter   1992
         186353  NoType            Yugoslavia  YUG  1992 Winter   1992
         186354  NoType            Yugoslavia  YUG  1992 Winter   1992
         222377  NoType            Yugoslavia  YUG  1992 Winter   1992
         222378  NoType            Yugoslavia  YUG  1992 Winter   1992
         222379  NoType            Yugoslavia  YUG  1992 Winter   1992
         222380  NoType            Yugoslavia  YUG  1992 Winter   1992
         224580      93          Yugoslavia-2  YUG  1992 Winter   1992
         224581      93            Yugoslavia  YUG  1992 Winter   1992
         226605  NoType            Yugoslavia  YUG  1992 Winter   1992
         229848  NoType            Yugoslavia  YUG  1992 Winter   1992
         237992  NoType            Yugoslavia  YUG  1992 Winter   1992
         237993  NoType            Yugoslavia  YUG  1992 Winter   1992
         252422  NoType            Yugoslavia  YUG  1992 Winter   1992
         252423  NoType            Yugoslavia  YUG  1992 Winter   1992
         252424  NoType            Yugoslavia  YUG  1992 Winter   1992
         252425  NoType            Yugoslavia  YUG  1992 Winter   1992
         255068      81          Yugoslavia-1  YUG  1992 Winter   1992
2014 ZIM 229418      81              Zimbabwe  ZIM  2014 Winter   2014
         229419      81              Zimbabwe  ZIM  2014 Winter   2014

                 Season         City                 Sport  \
Year NOC
1988 AHO 35942   Winter      Calgary                  Luge
         35943   Winter      Calgary             Bobsleigh
         58549   Winter      Calgary             Bobsleigh
1992 AHO 35944   Winter  Albertville             Bobsleigh
         53685   Winter  Albertville             Bobsleigh
2006 ALB 241122  Winter       Torino         Alpine Skiing
         241123  Winter       Torino         Alpine Skiing
         241124  Winter       Torino         Alpine Skiing
2010 ALB 241125  Winter    Vancouver         Alpine Skiing
         241126  Winter    Vancouver         Alpine Skiing
2014 ALB 155729  Winter        Sochi         Alpine Skiing
         155730  Winter        Sochi         Alpine Skiing
1992 ALG 26951   Winter  Albertville         Alpine Skiing
         26952   Winter  Albertville         Alpine Skiing
         86007   Winter  Albertville         Alpine Skiing
         86008   Winter  Albertville         Alpine Skiing
         86009   Winter  Albertville         Alpine Skiing
         86010   Winter  Albertville         Alpine Skiing
         86011   Winter  Albertville         Alpine Skiing
         133110  Winter  Albertville         Alpine Skiing
2006 ALG 19360   Winter       Torino  Cross Country Skiing
         58072   Winter       Torino         Alpine Skiing
         58073   Winter       Torino         Alpine Skiing
2010 ALG 117067  Winter    Vancouver  Cross Country Skiing
1976 AND 9075    Winter    Innsbruck         Alpine Skiing
         9076    Winter    Innsbruck         Alpine Skiing
         9077    Winter    Innsbruck         Alpine Skiing
         46041   Winter    Innsbruck         Alpine Skiing
         46042   Winter    Innsbruck         Alpine Skiing
         46043   Winter    Innsbruck         Alpine Skiing
...                 ...          ...                   ...
1992 YUG 142114  Winter  Albertville              Biathlon
         142115  Winter  Albertville              Biathlon
         142116  Winter  Albertville              Biathlon
         158924  Winter  Albertville  Cross Country Skiing
         158926  Winter  Albertville  Cross Country Skiing
         158927  Winter  Albertville  Cross Country Skiing
         158928  Winter  Albertville  Cross Country Skiing
         181105  Winter  Albertville             Bobsleigh
         181106  Winter  Albertville             Bobsleigh
         186351  Winter  Albertville         Alpine Skiing
         186352  Winter  Albertville         Alpine Skiing
         186353  Winter  Albertville         Alpine Skiing
         186354  Winter  Albertville         Alpine Skiing
         222377  Winter  Albertville  Cross Country Skiing
         222378  Winter  Albertville  Cross Country Skiing
         222379  Winter  Albertville  Cross Country Skiing
         222380  Winter  Albertville  Cross Country Skiing
         224580  Winter  Albertville             Bobsleigh
         224581  Winter  Albertville             Bobsleigh
         226605  Winter  Albertville                  Luge
         229848  Winter  Albertville             Bobsleigh
         237992  Winter  Albertville         Alpine Skiing
         237993  Winter  Albertville         Alpine Skiing
         252422  Winter  Albertville         Alpine Skiing
         252423  Winter  Albertville         Alpine Skiing
         252424  Winter  Albertville         Alpine Skiing
         252425  Winter  Albertville         Alpine Skiing
         255068  Winter  Albertville             Bobsleigh
2014 ZIM 229418  Winter        Sochi         Alpine Skiing
         229419  Winter        Sochi         Alpine Skiing

                                                             Event Medal
Year NOC
1988 AHO 35942                                  Luge Men's Singles   NaN
         35943                                 Bobsleigh Men's Two   NaN
         58549                                 Bobsleigh Men's Two   NaN
1992 AHO 35944                                 Bobsleigh Men's Two   NaN
         53685                                 Bobsleigh Men's Two   NaN
2006 ALB 241122                        Alpine Skiing Men's Super G   NaN
         241123                   Alpine Skiing Men's Giant Slalom   NaN
         241124                         Alpine Skiing Men's Slalom   NaN
2010 ALB 241125                   Alpine Skiing Men's Giant Slalom   NaN
         241126                         Alpine Skiing Men's Slalom   NaN
2014 ALB 155729                 Alpine Skiing Women's Giant Slalom   NaN
         155730                       Alpine Skiing Women's Slalom   NaN
1992 ALG 26951                       Alpine Skiing Women's Super G   NaN
         26952                  Alpine Skiing Women's Giant Slalom   NaN
         86007                         Alpine Skiing Men's Super G   NaN
         86008                    Alpine Skiing Men's Giant Slalom   NaN
         86009                         Alpine Skiing Men's Super G   NaN
         86010                    Alpine Skiing Men's Giant Slalom   NaN
         86011                          Alpine Skiing Men's Slalom   NaN
         133110                         Alpine Skiing Men's Slalom   NaN
2006 ALG 19360            Cross Country Skiing Men's 50 kilometres   NaN
         58072                      Alpine Skiing Women's Downhill   NaN
         58073                       Alpine Skiing Women's Super G   NaN
2010 ALG 117067           Cross Country Skiing Men's 15 kilometres   NaN
1976 AND 9075                         Alpine Skiing Men's Downhill   NaN
         9076                     Alpine Skiing Men's Giant Slalom   NaN
         9077                           Alpine Skiing Men's Slalom   NaN
         46041                        Alpine Skiing Men's Downhill   NaN
         46042                    Alpine Skiing Men's Giant Slalom   NaN
         46043                          Alpine Skiing Men's Slalom   NaN
...                                                            ...   ...
1992 YUG 142114                Biathlon Men's 10 kilometres Sprint   NaN
         142115                       Biathlon Men's 20 kilometres   NaN
         142116            Biathlon Men's 4 x 7.5 kilometres Relay   NaN
         158924           Cross Country Skiing Men's 10 kilometres   NaN
         158926           Cross Country Skiing Men's 30 kilometres   NaN
         158927           Cross Country Skiing Men's 50 kilometres   NaN
         158928  Cross Country Skiing Men's 10/15 kilometres Pu...   NaN
         181105                                Bobsleigh Men's Two   NaN
         181106                               Bobsleigh Men's Four   NaN
         186351                        Alpine Skiing Men's Super G   NaN
         186352                   Alpine Skiing Men's Giant Slalom   NaN
         186353                         Alpine Skiing Men's Slalom   NaN
         186354                       Alpine Skiing Men's Combined   NaN
         222377           Cross Country Skiing Men's 10 kilometres   NaN
         222378           Cross Country Skiing Men's 30 kilometres   NaN
         222379           Cross Country Skiing Men's 50 kilometres   NaN
         222380  Cross Country Skiing Men's 10/15 kilometres Pu...   NaN
         224580                                Bobsleigh Men's Two   NaN
         224581                               Bobsleigh Men's Four   NaN
         226605                                 Luge Men's Singles   NaN
         229848                               Bobsleigh Men's Four   NaN
         237992                        Alpine Skiing Men's Super G   NaN
         237993                       Alpine Skiing Men's Combined   NaN
         252422                      Alpine Skiing Women's Super G   NaN
         252423                 Alpine Skiing Women's Giant Slalom   NaN
         252424                       Alpine Skiing Women's Slalom   NaN
         252425                     Alpine Skiing Women's Combined   NaN
         255068                                Bobsleigh Men's Two   NaN
2014 ZIM 229418                   Alpine Skiing Men's Giant Slalom   NaN
         229419                         Alpine Skiing Men's Slalom   NaN

[48564 rows x 15 columns]

In [15]:
# count the number of medals of each type
def medal_count(medal_type, dataset): # the input should be a string and a dataframe
    medal = pd.DataFrame(dataset[dataset["Medal"] == medal_type][["NOCs","Medal"]])
    Medal_count = medal.groupby(["NOCs"]).count()
    Medal_count.rename(columns = {"Medal": medal_type}, inplace = True)
    return Medal_count

# create a sheet counting total medals, gold, silver, bronze, and the number of participation
def create_medal_sheet(year, season): # the input should be a integer and a string
    if season == "Summer":
        dataset = summer
    elif season == "Winter":
        dataset = winter
    
    #dummy = [0] * 8050
    #dummy_df = pd.DataFrame(dummy, index = jointDF1.index)
    #dummy_df.columns = ["dummy"]
    #print(dummy_df)
    
    Medal_count = pd.DataFrame(dataset[dataset["Years"] == year][["NOCs","Medal"]])
    Total = Medal_count.groupby(["NOCs"]).count()
    Total.rename(columns = {"Medal": "Total Medals"}, inplace = True)
    Total["Total Medals"].fillna(value = 0, inplace = True)

    Gold = medal_count("Gold", Medal_count)
    Silver = medal_count("Silver", Medal_count)
    Bronze = medal_count("Bronze", Medal_count)
    # for NaN value cannot use count()
    NA_DF = Medal_count[Medal_count["Medal"].isnull() == True]
    NA = pd.DataFrame(NA_DF.groupby(["NOCs"]).size())
    NA.columns = ["NaN"]
    
    

    jointDF = pd.concat([Gold, Silver, Bronze, Total, NA], axis = 1, sort = True)
    # sort = True;补全不齐的index
    
    jointDF["Silver"].fillna(value = 0, inplace = True)
    jointDF["Silver"] = jointDF["Silver"].astype("int")
    jointDF["Bronze"].fillna(value = 0, inplace = True)
    jointDF["Bronze"] = jointDF["Bronze"].astype("int")
    jointDF["Gold"].fillna(value = 0, inplace = True)
    jointDF["Gold"] = jointDF["Gold"].astype("int")
    jointDF["NaN"].fillna(value = 0, inplace = True)
    jointDF["NaN"] = jointDF["NaN"].astype("int")
    
    # Year = pd.DataFrame(columns = ["Years"])
    
    # calculate the overall participants in each country in each year
    if len(jointDF) != 0:
        jointDF["Total"] = jointDF.apply(lambda x: x["Total Medals"] + x["NaN"], axis=1)
        Year = pd.DataFrame([year] * len(jointDF), columns = ["Years"], index = jointDF.index) # same index convenient for concatenation
        jointDF = pd.concat([Year, jointDF], axis = 1, sort = True)
    else: # remind that 1994 summer has empty dataframe
        supplement = pd.DataFrame(columns = ["Total"])
        Year = pd.DataFrame(columns = ["Years"])
        jointDF = pd.concat([Year, jointDF, supplement], axis = 1, sort = True)
    
    #NOC = pd.DataFrame(list(jointDF.index), columns = ["NOCs"], index = jointDF.index) # in this case NOC has the same index as jointDF
    #jointDF = pd.concat([NOC, jointDF], axis = 1, sort = True)
    jointDF.columns = ["Years", "Gold " + season, "Silver " + season, 
                                      "Bronze " + season, "Total Medals " + season, "NaN " + season, "Total " + season]
    #jointDF.drop("dummy")
    
    return jointDF

#result = create_medal_sheet(1896, "Summer").set_index(np.array(range(0,12))) # change the index of the DataFrame into numeric index
#result = create_medal_sheet(1896, "Summer")
#result

# create medal count for every country in every year
def season_split(season): # input should be a string
    jointDF = pd.DataFrame(columns = ["Years", "Gold " + season, "Silver " + season, 
                                      "Bronze " + season, "Total Medals " + season, "NaN " + season, "Total " + season])
    # add "writer" so that we can store many sheets in one excel file without overwritting it
    # writer = pd.ExcelWriter('processed_dataset_' + season + '.xlsx')
    for i in Year_neat:
        print(i)
        #create_medal_sheet(i, season).to_excel(writer, sheet_name = str(i), index = 0)
        result = create_medal_sheet(i, season)
        jointDF = pd.concat([jointDF, result], axis = 0, sort = False)
    
    return jointDF
    #writer.close()

In [16]:
# generate the dataset separately
summer_medal = season_split("Summer")
winter_medal = season_split("Winter")

1896
1900
1904
1906
1908
1912
1920
1924
1928
1932
1936
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1994
1996
1998
2000
2002
2004
2006
2008
2010
2012
2014
2016
1896
1900
1904
1906
1908
1912
1920
1924
1928
1932
1936
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1994
1996
1998
2000
2002
2004
2006
2008
2010
2012
2014
2016

In [17]:
winter_medal.head()

,Years,Gold Winter,Silver Winter,Bronze Winter,Total Medals Winter,NaN Winter,Total Winter
AUS,1924,1,0,0,1,0,1
AUT,1924,3,1,0,4,0,4
BEL,1924,0,0,5,5,27,32
CAN,1924,9,0,0,9,8,17
FIN,1924,4,8,3,15,18,33

In [18]:
print(jointDF1.shape)
jointDF1.head()

(8050, 4)

           NOCs  Years City Summer City Winter
NOCs Index
AFG         AFG   1896         NaN         NaN
AHO         AHO   1896         NaN         NaN
ALB         ALB   1896         NaN         NaN
ALG         ALG   1896         NaN         NaN
AND         AND   1896         NaN         NaN

In [19]:
# combine jointDF1 together with summer and winter
def year_separation(year, season): # input should be an integer and a string
    if season == "Summer":
        dataset = summer_medal
    elif season == "Winter":
        dataset = winter_medal
        
    yearblock_joint = pd.DataFrame(jointDF1[jointDF1["Years"] == year])
    yearblock_season = pd.DataFrame(dataset[dataset["Years"] == year])
    temp = pd.DataFrame(columns = ["NOCs", "Years", "City Summer", "City Winter", "Gold " + season, 
                                   "Silver " + season, "Bronze " + season, "Total Medals " + season, "NaN " + season, "Total " + season])


    for i in yearblock_joint.index:
        if i in yearblock_season.index:
            temp1 = pd.DataFrame(yearblock_joint.loc[i]).T
            temp2 = pd.DataFrame(yearblock_season.loc[i]).T
            temp2 = temp2.drop(["Years"], axis = 1)
            temp_joint = pd.concat([temp1, temp2], axis = 1, sort = True)
            temp = pd.concat([temp, temp_joint], sort = False)
        else:
            temp1 = pd.DataFrame(yearblock_joint.loc[i]).T
            temp2 = pd.DataFrame(columns = yearblock_season.columns)
            temp2 = temp2.drop(["Years"], axis = 1)
            temp_joint = pd.concat([temp1, temp2], axis = 1, sort = True)
            temp = pd.concat([temp, temp_joint], sort = False)

    temp["Gold " + season].fillna(value = 0, inplace = True)
    temp["Gold " + season] = temp["Gold " + season].astype("int")
    temp["Silver " + season].fillna(value = 0, inplace = True)
    temp["Silver " + season] = temp["Silver " + season].astype("int")
    temp["Bronze " + season].fillna(value = 0, inplace = True)
    temp["Bronze " + season] = temp["Bronze " + season].astype("int")
    temp["NaN " + season].fillna(value = 0, inplace = True)
    temp["NaN " + season] = temp["NaN " + season].astype("int")
    temp["Total Medals " + season].fillna(value = 0, inplace = True)
    temp["Total Medals " + season] = temp["Total Medals " + season].astype("int")
    temp["Total " + season].fillna(value = 0, inplace = True)
    temp["Total " + season] = temp["Total " + season].astype("int")
    
    return temp

In [20]:
def dataset_generation(season):
    result_season = pd.DataFrame(columns = ["NOCs", "Years", "City Summer", "City Winter", "Gold " + season, 
                                   "Silver " + season, "Bronze " + season, "Total Medals " + season, "NaN " + season, "Total " + season])
    for i in Year_neat:
        print(i)
        yearblock = year_separation(i, season)
        result_season = pd.concat([result_season, yearblock], sort = False)

    return result_season

In [21]:
summer_set = dataset_generation("Summer")
winter_set = dataset_generation("Winter")

1896
1900
1904
1906
1908
1912
1920
1924
1928
1932
1936
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1994
1996
1998
2000
2002
2004
2006
2008
2010
2012
2014
2016
1896
1900
1904
1906
1908
1912
1920
1924
1928
1932
1936
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1994
1996
1998
2000
2002
2004
2006
2008
2010
2012
2014
2016

In [22]:
summer_set.head()

,NOCs,Years,City Summer,City Winter,Gold Summer,Silver Summer,Bronze Summer,Total Medals Summer,NaN Summer,Total Summer
AFG,AFG,1896,NaN,NaN,0,0,0,0,0,0
AHO,AHO,1896,NaN,NaN,0,0,0,0,0,0
ALB,ALB,1896,NaN,NaN,0,0,0,0,0,0
ALG,ALG,1896,NaN,NaN,0,0,0,0,0,0
AND,AND,1896,NaN,NaN,0,0,0,0,0,0

In [23]:
winter_set.head()

,NOCs,Years,City Summer,City Winter,Gold Winter,Silver Winter,Bronze Winter,Total Medals Winter,NaN Winter,Total Winter
AFG,AFG,1896,NaN,NaN,0,0,0,0,0,0
AHO,AHO,1896,NaN,NaN,0,0,0,0,0,0
ALB,ALB,1896,NaN,NaN,0,0,0,0,0,0
ALG,ALG,1896,NaN,NaN,0,0,0,0,0,0
AND,AND,1896,NaN,NaN,0,0,0,0,0,0

In [24]:
# generate the whole dataset
winter_set_modified = winter_set.drop(["NOCs","Years","City Summer", "City Winter"], axis = 1)
whole = pd.concat([summer_set, winter_set_modified], axis = 1, sort = False)
whole.to_csv("Dataset Preparation.csv", index = 0) # 不保存行索引

In [25]:
whole.shape

(8050, 16)